
ion-card.logout {
    position: absolute;
    bottom: 0;
}
ion-content {
    --overflow: hidden;
}
ion-card {
    box-shadow: none !important;
}
ion-icon.avatar {
    height: 30px;
    width: 30px;
}