/*
ion-segment {
    margin-left : 20px !important;
} */
ion-card.mainCard, .secondCard{
    padding-bottom: 5%;
    box-shadow: none !important;
 }
 ionic4-star-rating.rating {
     margin-left: 10%;
 }
 