<ion-header>
   
      <ion-buttons slot="start">
        <ion-menu-button>
        </ion-menu-button>
      </ion-buttons>
    
  </ion-header>
<ion-content>
  <img src="/assets/logo.png"/>
  <ion-card>

    <!-- <img src="/assets/rent_a_room.png"/> -->
    <ion-card-content>
      <p>
        Appointment™ is an app made to simplify the process of renting and renting out meeting rooms. By using the app, 
        you have access to a huge list of meeting rooms thats available in a few clicks. 
      </p>
    </ion-card-content>


  </ion-card>
